*{
    padding: 0px;
    border: none;
    margin: 0px;
    font-family: Righteous;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    background: linear-gradient( 135deg,rgb(236, 97, 97),  rgb(255, 136, 0));
    height: 600vh;
}

p{
    cursor: initial;
}

a{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    position: sticky;
    top: 0px;
    z-index: 11;
    background-color: #ffffff;
    box-shadow: 0 0 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.burger{
    display: none;
}

.burger div{
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
    
}

@media screen and (max-width:1600px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}

@media screen and (max-width:768px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        background-color: #ffffff;
        z-index: -3;
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: translateX(100%) scale(0) ;
        transition: transform 1s ease;
        color: black;
    }
    .nav-links li{
        opacity: 0;
    } 

    .nav-links li a {
        color: black;
        z-index: 3;
    }

    .burger{
        position: absolute;
        right: 5%;
        display: block;
        cursor: pointer;
    }
    .logo{
        position: absolute;
        left: 5%;
        font-size: 18px;
    }
}


.nav-active {   
    transform: translateX(0%) scale(1);
    position: fixed;
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-display-none{
    display: none;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-11px, -1px);
}

.toggle .line2{
    opacity: 0; 
}

.toggle .line3{
    transform: rotate(45deg) translate(-11px, -1px);  
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.embed-cont{
    position: relative;
    width: 100%;
    height: 500px;

}

.insta-layout{
    
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #B0B0B0; border-left: none; border-right: none;
}

.post{
    position: relative;
    width: 100%;
}

.Picture-occu{
    width: 130px;
    position: absolute;
    top: 15px;
    left: calc(50% - 65px);
}

.Title{
    position: absolute;
    padding-top: 15px;
    top: calc(10px + 68%);
    left: calc(50% - 45px);
}

.loca{
    padding-left: 25px;
}

.lower-part{
    height: 20px;
    width: 205px;
    position: absolute;
    top: 84%;
    left: calc(50% - 205px / 2);
    transform: translate(-50% -50%);
    display: flex;
}


.seeall{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 115%;
    text-align: center;
    background-color: #E5E5E5;
}

.seeall-text{
    position: absolute;
    height: 22px;
    width: 60px;
    left: 45%; top: 20%;
    border-bottom: 3px solid black;
    border-radius: 1.5px;
}

.footer{
    position: absolute;
    top: calc(600vh - 140px);
    width: 100%;
    height: 140px;
    background: rgba(00, 00, 00, 0.81);
    color: #D6D6D6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

@media screen and (min-width:1024px){
    .marketplace-container{
        width: 60%;
        position: absolute !important;
        left: 20%;
    }
}

.instagram-media{
    background: #FFFFFF; 
    line-height: 0; 
    padding: 0 0;
    text-align: center; 
    text-decoration: none; 
    width: 100%;
    display: flex;
    justify-content: center;

}